.margin-auto {
    margin: auto;
}

.margin-15-top-auto {
    margin: 15px auto auto auto;
}

.bb-margin-high-bottom {
    margin-bottom: 30px;
}

.bb-margin-high-top {
    margin-top: 30px;
}

.bb-margin-medium-right {
    margin-right: 15px;
}

.bb-margin-medium-left {
    margin-left: 15px;
}

.bb-margin-medium-top {
    margin-top: 15px;
}

.bb-margin-medium-bottom {
    margin-bottom: 15px;
}

.bb-margin-medium-top-bottom {
    margin: 15px 0;
}

.bb-margin-light-top {
    margin-top: 5px;
}

.bb-margin-light-right {
    margin-right: 5px;
}

.bb-margin-input-template {
    margin: 0px 8px 5px 8px;
}

.bb-margin-5 {
    margin: 5px;
}