$dark-purple: #2B2D42;
$light-purple: #34344A;
$border-color: #34344A;
$light-purple-2: #61568C;

$transparent-dark-purple: #F2F4F4;
$hover: rgba(198, 198, 198, 0.1);

$orange: #F28177;
$blue: #91B0D9;
$green: #2ED47A;
$grey: #838383;
$light-grey: #C2CFE0;
$dark-grey: #6d6d6d;
$red: #eb5756;
$yellow: #F2AE72;


$nav-bar-height: 62px;
$nav-bar-edit-page: 54px;

.bb-orange {
    color: $orange
}

.bb-bg-blue {
    background-color: $blue !important;
}